body {
    margin: 0;
    font-family: 'Gowun Batang', serif;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4vh;
    padding-top: 7px;
    background-color: transparent;
    text-align: center;
}
nav a{
    text-decoration: none;
    font-size: 2.8vh;
    font-weight: 600;
    padding-left: 10vh;
    padding-right: 10vh;
}
nav a:hover{
    text-decoration: underline;
}
.container {
    display: flex;
    flex-direction: column;
    /* 3단 웹페이지를 만들기 위해 flex */
}
.container__home, .container__me, .container__contact {
    display: flex;
    flex-direction: column;
    /* 배너와 내용 2단 만들기 위해 flex */
    height: 96vh;
    padding-top: 4vh; /*nav부분*/
    flex-grow: 1;
    /* 같은 비율로 화면 채움 */
}
/*----------------------------------------*/
.container__home {
    background-color: rgb(255, 255, 208);
    justify-content: center; /*세로가운데정렬*/
    align-items: center;/*사진과 정보 가로 가운데 정렬*/

}
#tiger{
    border-radius: 100%;
    width: 65vh;
    margin-bottom: 2vh;
    /* padding-top으로 하면 padding까지
    border-radius 범위가 되므로 margin 선택 */
}
.container__home h1 {
    font-size: 5vh;
    /*vh=viewport height
    =현재 실행중인 스크린 크기에 맞춰 상대적 크기 반환
    vw=viewport width
    height=1000px일 때, 1vh는 10px*/
    margin-top: 0;
}
.container__home p {
    font-size: 3vh;
    font-weight: 600; /*텍스트 굵기*/
}
/*----------------------------------------*/
.container__me {
    background-image: url('../img/별.jpg');
    background-size: cover;
    background-position: top;
}
.container__me h1 {
    text-align: center;
    background-color: #4631af;
    color: white;
    margin-bottom: 0;
}
.container__me__content {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* 사진과 내용 가로 2단 만들기 위해 */
    align-items: center;/*사진과 정보 세로 가운데 정렬*/
}
.container__me__content__my-pic img {
    width: 33%;
    border-radius: 30%;
}
.container__me__content__my-pic {
    flex-grow: 2;
    width: 50vh;
    text-align: right;
    padding-right: 20vh;
    padding-bottom: 10vh;
}
.container__me__content_my-info {
    flex-grow: 3;
    font-size: 3vh;
    color: white;
    padding-bottom: 10vh;
}
ul {
    list-style: none; /*점들 삭제*/
    padding-left: 0; /*자체 padding 삭제*/
}
li {
    margin-bottom: 3vh;
    font-size: 110%
}
/*----------------------------------------*/
.container__contact {
    background-image:  url('https://images.unsplash.com/photo-1514454529242-9e4677563e7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}
.container__contact h1 {
    text-align: center;
    background-color: skyblue;
    margin-bottom: 0;
}
.container__contact__call-pic {
    margin-top: 90px;
    margin-bottom: 70px;
    width: 30%;
    border-radius: 60%;
    margin-left: auto;
    margin-right: auto;
}
.container__contact__mail {
    text-align: center;
    font-size: 20px;
    color:black;
    font-weight: 600;
}
.container__contact__contact-list {
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center; /*이미지 가운데 정렬*/
}
.container__contact__contact-list a:not(:last-child){
    padding-right: 40px;
}
.container__contact__contact-list img {
    margin-top: 60px;
    width: 9vh;
}
.container__contact__contact-list a:hover img {
    transition: all 0.2s linear;
    /*부드럽게 확대*/
    transform: scale(1.2);
} /*마우스 오버시 img 확대*/ 