body {
    margin: 0;
    font-family: 'Gowun Batang', serif;
}

nav {
    position: fixed;
    /*상단 고정*/
    display: flex;
    flex-direction: row;
    /*nav바 flex 구성 - 2개 박스(logo, item)로 구성*/
    justify-content: space-between;
    /*logo와 item 사이 거리 띄우기*/
    align-items: center;
    top: 0;
    width: 100%;
    height: 4vh;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: ivory;
}

nav logo {
    margin-left: 3vh;
    font-size: 3.4vh;
    font-weight: 600;
    color: orange;
    /* background-color: rgb(255, 255, 255); */
    padding-right: 1vh;
}

nav logo a {
    text-decoration: none;
}

.nav__menu a {
    text-decoration: none;
    font-size: 3vh;
    font-weight: 600;
    padding-right: 3vh;
}

.nav__menu a:hover {
    text-decoration: underline;
}

.nav__toggleBtn {
    /*직속자식만. 즉, 토글버튼*/
    font-size: 2.7vh;
    color: black;
    display: none;
    /*화면이 720px 이하일때만*/
}

/*----------------------------------------*/
.container {
    display: flex;
    flex-direction: column;
    /* 3단 웹페이지를 만들기 위해 flex */
}

.container__home,
.container__me,
.container__like,
.container__contact {
    display: flex;
    flex-direction: column;
    /* 배너와 내용 2단 만들기 위해 flex */
    height: 96vh;
    padding-top: 4vh;
    /*nav부분*/
    flex-grow: 1;
    /* 같은 비율로 화면 채움 */
}

/*----------------------------------------*/
.container__home {
    background-color: rgb(255, 255, 208);
    justify-content: center;
    /*세로가운데정렬*/
    align-items: center;
    /*사진과 정보 가로 가운데 정렬*/

}

#tiger {
    border-radius: 100%;
    width: 65vh;
    margin-bottom: 2vh;
    /* padding-top으로 하면 padding까지
    border-radius 범위가 되므로 margin 선택 */
}

.container__home h1 {
    font-size: 5vh;
    /*vh=viewport height
    =현재 실행중인 스크린 크기에 맞춰 상대적 크기 반환
    vw=viewport width
    height=1000px일 때, 1vh는 10px*/
    margin-top: 0;
}

.container__home p {
    font-size: 3vh;
    font-weight: 600;
    /*텍스트 굵기*/
}

/*----------------------------------------*/
.container__me {
    background-image: url('../img/별.jpg');
    background-size: cover;
    background-position: top;
}

.container__me h1 {
    text-align: center;
    background-color: #4631af;
    color: white;
    font-size: 4vh;
    margin-bottom: 0;
    margin-top: 14px;
    /*4vh초과한  nav바의 padding 14px*/
}

.container__me__content {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* 사진과 내용 가로 2단 만들기 위해 */
    align-items: center;
    /*사진과 정보 세로 가운데 정렬*/
}

.container__me__content__my-pic img {
    width: 33%;
    border-radius: 30%;
}

.container__me__content__my-pic {
    flex-grow: 2;
    width: 50vh;
    text-align: right;
    padding-right: 20vh;
    padding-bottom: 10vh;
}

.container__me__content_my-info {
    flex-grow: 3;
    font-size: 3vh;
    color: white;
    padding-bottom: 10vh;
}

ul {
    list-style: none;
    /*점들 삭제*/
    padding-left: 0;
    /*자체 padding 삭제*/
}

li {
    margin-bottom: 3vh;
    font-size: 110%
}

/*----------------------------------------*/
.container__like {
    background-image: url('https://cdn.pixabay.com/photo/2017/02/16/19/47/bokeh-2072271_960_720.jpg');
    background-size: cover;
}

.container__like img {
    width: 80%;
    height: 270px;
    object-fit: cover;
    padding: 10px;
    border-radius: 20%;
}

.container__like h1 {
    text-align: center;
    background-color: pink;
    font-size: 4vh;
    margin-bottom: 0;
    margin-top: 14px;
}

.container__like__grid {
    margin: 5vh;
    /*img위 text를 absolute로 하기 위해*/
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    /*repeat(3,1fr) = 1fr 1fr 1fr*/
    grid-gap: 3vh;
    align-items: center;
}

.container__like__grid div {
    text-align: center;
    position: relative;
    /*텍스트 사진 기준 위해. position*/
}
.container__like__grid__title {
    margin: 0;
    /*텍스트 사진 기준 position 위해*/
    position: absolute;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    border-radius: 20%;
    background: rgba(0, 2, 90, 0.4);
    /*a(alpha channel): 투명도(0(투명)~1(불투명))*/
    color: white;
    font-size: 5vh;
    /*텍스트 가로 세로 중앙 정렬*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*배경과 텍스트 투명도 지정*/
    opacity: 0; /*투명*/
}
.container__like__grid div:hover .container__like__grid__title {
    transition: opacity 0.5s; /*opacity가 0.5s동안 변화*/
    opacity: 1; /*원래의 설정값(불투명)*/
}

/*----------------------------------------*/
.container__contact {
    background-image: url('https://images.unsplash.com/photo-1514454529242-9e4677563e7b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-size: cover;
}

.container__contact h1 {
    text-align: center;
    background-color: skyblue;
    font-size: 4vh;
    margin-bottom: 0;
    margin-top: 14px;
    /*4vh초과한  nav바의 padding 14px*/
}

.container__contact__call-pic {
    margin-top: 10vh;
    margin-bottom: 6vh;
    width: 30%;
    border-radius: 60%;
    margin-left: auto;
    margin-right: auto;
}

.container__contact__mail {
    text-align: center;
    font-size: 2vh;
    color: black;
    font-weight: 600;
}

.container__contact__contact-list {
    margin-top: 0px;
    margin-bottom: 80px;
    text-align: center;
    /*이미지 가운데 정렬*/
}

.container__contact__contact-list a:not(:last-child) {
    padding-right: 4vh;
}

.container__contact__contact-list img {
    margin-top: 6vh;
    width: 9vh;
}

.container__contact__contact-list a:hover img {
    transition: all 0.2s linear;
    /*부드럽게 확대*/
    transform: scale(1.2);
}
/*마우스 오버시 img 확대*/

/*반응형 적용 - px이하시 a태그 세로로*/
@media(max-width: 780px) {

    /*특정 px이하 메뉴 세로 배치*/
    nav {
        flex-direction: column;
        padding-bottom: 50px;
        /*nav 내부의 logo와 item을 세로 정렬*/
    }

    nav logo {
        margin: 0;
        padding-right: 0;
    }

    .nav__menu {
        display: flex;
        flex-direction: column;
        background-color: ivory;
        /*item 내부의 a태그들을 세로 정렬*/
        width: 100%;
        padding-top: 1vh;
        align-items: center
            /*가로중앙정렬*/
        ;
    }

    .nav__menu a {
        padding-bottom: 1vh;
        padding-right: 0;
    }

    .container__home,
    .container__me,
    .container__like,
    .container__contact {
        padding-top: 21vh;
        height: 79vh;
    }

    .nav__toggleBtn {
        display: block;
        position: absolute;
        /*가장 가까운 position 기준(nav바: fixed)으로 고정*/
        top: 10px;
        right: 20px;
    }

    .nav__menu {
        display: none;
        /*toggleBtn 누르기 전에 보이지 않도록*/
    }

    .nav__menu.active {
        display: flex;
    }
}
